<div fxLayout="row">
    <md-card *ngFor="let lane of swimlanes" fxFlex fxLayout="column" class="swimlane">
      <md-card-title fxLayoutAlign="center center" [innerHtml]="lane.title"></md-card-title>
      <md-card-content [dragula]="'bag-tasks'" [dragulaModel]="lane.tasks">
        <div *ngFor="let task of lane.tasks" fxFlex="100">
          <app-my-tasks [task]="task"></app-my-tasks>
        </div>
        <div *ngIf="lane.tasks.length === 0" class="empty" fxFlex>Drop Cards Here</div>
      </md-card-content>
    </md-card>
</div>

<button (click)="addTask()" md-fab color="accent">
  <md-icon>add</md-icon>
</button>
