md-card {
    background-color: #6c6c6c;
}

md-card-title {
    color: #e6e6e6;
}

.swimlane {
    margin:6px;
    padding: 4px;
}

button {
    position: fixed;
    right: 24pt;
    bottom: 24pt;
}